.components {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.notNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
