.container {
  display: flex;
  flex-direction: column;
  background-color: #d49a2d;
  margin-top: 10px;
  padding-bottom: 300px;
  border-radius: 10px;
  text-align: center;
  justify-content: first baseline;
}
/* 
.container {
  display: column;
  background-color: #2d6ab3;
  margin-left: 10px;
  margin-right: 85%;
  padding-bottom: 200px;
  border-radius: 10px;
  text-align: center;
  justify-content: space-around;
} */
